<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GoodsImgStockMapper">
    
    <resultMap type="GoodsImgStock" id="GoodsImgStockResult">
        <result property="id"    column="id"    />
        <result property="goodsImg"    column="goods_img"    />
        <result property="batch"    column="batch"    />
        <result property="isUse"    column="is_use"    />
        <result property="goodsId"    column="goods_id"    />
    </resultMap>

    <sql id="selectGoodsImgStockVo">
        select id, goods_img, batch, is_use ,goods_id from goods_img_stock
    </sql>

    <select id="selectGoodsImgStockList" parameterType="GoodsImgStock" resultMap="GoodsImgStockResult">
        <include refid="selectGoodsImgStockVo"/>
        <where>  
            <if test="goodsImg != null  and goodsImg != ''"> and goods_img = #{goodsImg}</if>
            <if test="batch != null  and batch != ''"> and batch like concat('%',#{batch},'%') </if>
            <if test="isUse != null "> and is_use = #{isUse}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectGoodsImgStockById" parameterType="Long" resultMap="GoodsImgStockResult">
        <include refid="selectGoodsImgStockVo"/>
        where id = #{id}
    </select>
    <select id="selectCountByBatchName" resultType="java.lang.Integer">
        select count(1) from goods_img_stock where batch = #{zipName}
    </select>

    <insert id="insertGoodsImgStock" parameterType="GoodsImgStock" useGeneratedKeys="true" keyProperty="id">
        insert into goods_img_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsImg != null">goods_img,</if>
            <if test="batch != null">batch,</if>
            <if test="isUse != null">is_use,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsImg != null">#{goodsImg},</if>
            <if test="batch != null">#{batch},</if>
            <if test="isUse != null">#{isUse},</if>
         </trim>
    </insert>

    <update id="updateGoodsImgStock" parameterType="GoodsImgStock">
        update goods_img_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsImg != null">goods_img = #{goodsImg},</if>
            <if test="batch != null">batch = #{batch},</if>
            <if test="isUse != null">is_use = #{isUse},</if>
            goods_id = #{goodsId}
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsImgStockById" parameterType="Long">
        delete from goods_img_stock where id = #{id}
    </delete>

    <delete id="deleteGoodsImgStockByIds" parameterType="String">
        delete from goods_img_stock where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>