<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SupplyOrderMapper">
    
    <resultMap type="SupplyOrder" id="SupplyOrderResult">
        <result property="id"    column="id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsImg"    column="goods_img"    />
        <result property="minorClass"    column="minor_class"    />
        <result property="detail"    column="detail"    />
        <result property="introduce"    column="introduce"    />
        <result property="quantity"    column="quantity"    />
        <result property="singlePrice"    column="single_price"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="shipTime"    column="ship_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="receiveAddress"    column="receive_address"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="sellerId"    column="seller_id"    />
        <result property="ownerUserName"    column="owner_user_name"    />
        <result property="ownerNickName"    column="owner_nick_name"    />
        <result property="ownerEmail"    column="owner_email"    />
        <result property="ownerTel"    column="owner_tel"    />
    </resultMap>

    <sql id="selectSupplyOrderVo">
        select a.id, order_code, goods_id,goods_name, goods_img, minor_class,detail,
               introduce, quantity, single_price, total_price, a.create_time, a.update_time,
               pay_time, ship_time, finish_time, receive_address, a.remark, a.status, seller_id,
               user_name owner_user_name,nick_name owner_nick_name,email owner_email, phonenumber owner_tel
        from supply_order a
        left join platform_goods_info b
        on a.goods_id = b.id
        left join sys_user c
        on a.seller_id = c.user_id
    </sql>

    <select id="selectSupplyOrderList" parameterType="SupplyOrder" resultMap="SupplyOrderResult">
        <include refid="selectSupplyOrderVo"/>
        <where>  
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="singlePrice != null "> and single_price = #{singlePrice}</if>
            <if test="totalPrice != null "> and total_price = #{totalPrice}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="shipTime != null "> and ship_time = #{shipTime}</if>
            <if test="finishTime != null "> and finish_time = #{finishTime}</if>
            <if test="receiveAddress != null  and receiveAddress != ''"> and receive_address = #{receiveAddress}</if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="sellerId != null "> and seller_id = #{sellerId}</if>
            <if test="ownerUserName != null  and ownerUserName != ''"> and user_name like concat('%', #{ownerUserName}, '%')</if>
            <if test="ownerNickName != null  and ownerNickName != ''"> and nick_name like concat('%', #{ownerNickName}, '%')</if>
            <if test="ownerEmail != null  and ownerEmail != ''"> and email = #{ownerEmail}</if>
            <if test="ownerTel != null  and ownerTel != ''"> and phonenumber like concat('%', #{ownerTel}, '%')</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by create_time desc
    </select>
    
    <select id="selectSupplyOrderById" parameterType="Long" resultMap="SupplyOrderResult">
        <include refid="selectSupplyOrderVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertSupplyOrder" parameterType="SupplyOrder" useGeneratedKeys="true" keyProperty="id">
        insert into supply_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">order_code,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="singlePrice != null">single_price,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="shipTime != null">ship_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="receiveAddress != null">receive_address,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="sellerId != null">seller_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">#{orderCode},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="singlePrice != null">#{singlePrice},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="shipTime != null">#{shipTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="receiveAddress != null">#{receiveAddress},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="sellerId != null">#{sellerId},</if>
         </trim>
    </insert>

    <update id="updateSupplyOrder" parameterType="SupplyOrder">
        update supply_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">order_code = #{orderCode},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="singlePrice != null">single_price = #{singlePrice},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="shipTime != null">ship_time = #{shipTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="receiveAddress != null">receive_address = #{receiveAddress},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sellerId != null">seller_id = #{sellerId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplyOrderById" parameterType="Long">
        delete from supply_order where id = #{id}
    </delete>

    <delete id="deleteSupplyOrderByIds" parameterType="String">
        delete from supply_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>